@media (max-width: 1400px) {
    .wrap{width:100%;}
    header{width:100%;}
    .con {width:100%; height:1100px;}
    .con ul {width:500px; margin:0 auto; margin-top:120px;}
    .con li {width:500px; height:500px; margin-bottom:50px; margin-right:0;}
    .con li>a {width:500px; height:500px; }
    .con li img {width:500px; height:500px;}
    footer{width:100%; margin:0 auto;}
}

