@charset "utf-8";

*{margin:0; padding:0;}

/* 팝업 스타일 */
.popup-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index:10;}
.popup-content { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; background: white; padding: 20px; text-align: center; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);}
.popup-close { margin-top: 34px; padding: 5px 15px; background: #2270ff; color: white; border: none; cursor: pointer;}


header h1{display:inline-block; margin:15px;}
header ul{float:right; margin:15px; margin-top:10px;}
header li{display:inline-block; margin: 0 10px; }
header li a{text-decoration:none;}
header li span{color:#000; vertical-align:super;}
header li span:hover{color:gray;}
header li img{width:30px;}

nav {width: 100%; overflow-x: auto; white-space: nowrap; }
nav ul{display:flex; padding:0; margin:0;}
nav li{display:inline-block; padding:0 10px; flex: 0 0 auto;}
nav li.smartthings{background-color:#2270ff; border-radius:20px;}
nav li.smartthings span{color:#fff;}
nav li.smartthings:hover{background-color:#2270ff;} 
nav li:hover{ background-color:#000; border-radius: 20px;}
nav li:hover a span{color:#fff;}
nav a {display: block; height: 40px; line-height: 40px; padding: 0 15px; text-decoration: none; color: #333; font-weight: bold;}
nav a span{color:#000; font-size:14px; font-weight:700; line-height:14px;}


/* 상단 콘텐츠 - 메인콘텐츠 */
.main{position:relative; width:100%; height:794px;  margin-top:10px; background-color:#fbfafa;}
.main > div{position:relative; width:100%; height:794px;}
.main > div > img {width:100%; height:100%;}
.main > div > p{position:absolute; top:170px; left:180px; color:#000; font-size:70px; text-transform: uppercase; font-weight:800; letter-spacing:-2px; line-height:1.2;}
.main > div > a{position:absolute; top:360px; left:180px; padding:10px 45px 10px 45px; background-color:#000; border-radius:20px; font-weight:700; text-transform: uppercase;}
.main > div > a > span{display:block; color:#fff;}
.main > img{position:absolute;top:76px; right:150px;}

/*product*/
section.product {width: 1200px; margin:40px auto;}
section.product {display:flex; gap :10px;}
section.product .left_wrap {width:100%;}
section.product .left_wrap img {width:100%; cursor: pointer;}
section.product .right_wrap {width:100%;display:flex; flex-wrap:wrap; gap:10px;}
section.product .right_wrap img {width:49%; cursor:pointer;}

/*중간 콘텐츠 - newsletter*/
.newsLetter{margin:0 auto; width:100%; height:275px; background-color:#2270ff;}
.newsLetter h3{text-align: center; text-transform: uppercase; letter-spacing: 4px; font-weight:700; font-size:18px; padding-top:80px; color:#fff;}
.newsLetter p{font-size:10px; margin-top:16px; text-align:center; line-height:16px; color:#fff;}
.newsLetter input{padding:10px 150px 10px 10px; border:2px solid #efefef; font-size:10px;color:#959595; box-sizing:border-box;}
.newsLetter button{padding:8px 40px 8px 40px; border:2px solid #fff; background-color: #2270ff; color:#fff; text-transform: uppercase; cursor: pointer;}
.newsLetter>div{width:450px;margin:30px auto;}
.newsLetter input{margin-right:10px;}

/*랜딩페이지*/
.landing_container {background:#191919; margin-top:10px; padding-bottom:100px;}
.landing_container h4{padding-top:150px; padding-left:40px; line-height:1.4; font-weight:bold; font-size:36px; color:#fff;}
.landing_container p {padding-top:16px; padding-bottom:30px; padding-left:40px; color:#fff;}
.landing_container .img_wrap{width:100%;}
.landing_container .img_wrap img{width:100%;}
.landing_container .text_wrap h5 { width:100%; padding-top:100px; padding-bottom:60px; text-align:center;font-size:28px; color:#fff;}
.landing_container .text_wrap .box_wrap {display:flex; align-items:center;}
.landing_container .text_wrap .con_wrap p {line-height:1.4; }
.landing_container .text_wrap .con_wrap.left{ width:50%; padding:40px; padding-left:100px;}
.landing_container .text_wrap .con_wrap.left img{width:100%;}
.landing_container .text_wrap .con_wrap.right{width:50%; padding-top:40px;}
.landing_container .box_wrap.second {display:flex; width:100%; gap:20px; padding:40px; box-sizing:border-box;}
.landing_container .box_wrap.second .img_box {display:flex; flex-direction:column; align-items:center; width:calc(100% / 3); }
.landing_container .box_wrap.second .img_box h6 {padding-top:40px;color:#fff; text-align:center; font-size:22px;}
.landing_container .box_wrap.second .img_box img{width:80%; }
.landing_container .box_wrap.second .img_box p {margin-top:20px; padding-left:0; line-height:1.4; text-align:center;}


/*마이페이지*/
.mypage_container {display:block; width:960px; margin:0 auto; margin-bottom:100px;}
.mypage_container h4{margin-top:50px; margin-bottom:100px; text-align:center; font-size:30px; font-weight:bold;}
.mypage_container .info_wrap {width:760px; margin:0 auto;}
.mypage_container .info {position:relative;}
.mypage_container .info span {display:inline-block; width:150px; margin-bottom:30px;text-align:left;}
.mypage_container .info input {width:500px; padding:10px; border:1px solid #efefef;}
.mypage_container .info input#postcode {width:150px;}
.mypage_container .info input:disabled {color:#b3b3b3;}
.mypage_container .info .error {border: 2px solid red !important;}
.mypage_container .info .error-message {display:block; margin-top:5px; color:red; font-size:12px;}
.mypage_container .info .error-message::after {content: '필수값 입니다. 내용을 입력하세요.'; display: block; position: absolute; top: 47px; left: 154px;}
.mypage_container #validateBtn{display: block; width: 100px; height: 40px; line-height: 40px; margin: 0 auto; margin-top: 40px; background-color: #2270ff; color:#fff; border:none; border-radiuS:10px;}
.mypage_container #searchAddress{padding:8px; box-sizing:border-box;}


/*footer*/
footer{position:relative; margin:0 auto; width:100%; height:50px;background-color:#000;}
footer p{clear:both; color:#fff; font-size:14px; padding-top:15px;text-align: center;}


@media (max-width: 1400px) {
    .main {height:450px;}
    .main > div{height:450px;}
    .main > div > p{left:80px;}
    
    section.product {width:100%; flex-direction: column;}
    section.product .left_wrap{width:96%; padding:10px;}
    section.product .right_wrap{margin-left:8px;}
    section.product .right_wrap img{width:47%;}
}

@media (max-width: 1024px) {
    .main {height:450px;}
    .main > div{height:450px;}
    .main > div > p{top:78px; left:96px; font-size:50px;}
    .main > div > a{top:222px; left:98px; }
    .main > div > a > span {font-size:13px;}

    .mypage_container{width:100%;}
    .mypage_container .info_wrap{width:90%;}
    .mypage_container .info {margin-bottom:20px;}
    .mypage_container .info span{margin-bottom:12px;}
    .mypage_container .info input{width:100%; box-sizing:border-box;}
    .mypage_container .info .error-message::after{top:70px; left:10px;}
    .mypage_container .info input#postcode {width:78%;}
}

@media (max-width: 768px) {
    .main {height:214px;}
    .main > div{height:214px;}
    .main > div > p{top:80px; left:48px; font-size:26px;}
    .main > div > a{display:none;}
    
    .newsLetter{width:100%;}
    .newsLetter>div {width:94%; margin: 0 auto;}
    .newsLetter h3{font-size:14px; padding-top:50px;}
    .newsLetter p{margin:16px;}
    .newsLetter input{width:100%;}
    .newsLetter button{display:block; width:100%; margin-top:10px;}

    .landing_container h4{font-size:28px;}
    .landing_container .text_wrap h5{font-size:22px;}
    .landing_container .text_wrap .box_wrap{flex-direction: column;}
    .landing_container .text_wrap .con_wrap.left{width:90%; padding:10px;}
    .landing_container .text_wrap .con_wrap.right{width:100%;}
    .landing_container p{padding:20px;}
    .landing_container .box_wrap.second .img_box{width:100%;}
}

