@charset "utf-8";

.wrap{
  width:1300px;
  margin:0 auto;
  font-family:'나눔바른고딕','Nanum Gothic','나눔고딕','맑은고딕',sans-serif;
}
/** header **/
header{
  width:1117px; height:100px;
  margin:25px auto 0 auto;

}
header>h1{

  font-size:18px;
  float:left;
  margin-left:40px;
  margin-right:180px;
  
}

header a{
  color:#000;
}
header span:nth-of-type(2),span:nth-of-type(3){
  letter-spacing:4px;
  font-size:24px;
  font-weight:100;
  color:#fff;
}
header span:nth-of-type(1),span:nth-of-type(4){
  color:#000;
  font-size:24px;
   font-weight:100;
}
header ul{
padding-top:9px;
}
header li{
  float:left;
  margin-right:210px;
}
header li:nth-of-type(3){
  margin-right:0;
}



/*contents*/

.con{
  width:1300px; height:300px;
  margin:0 auto;
}
.con ul{
  width:1032px; height:300px;
  margin:150px auto;
}
.con li{
  width:300px; height:300px;
  float:left;
  margin-right:66px;

}
.con li:nth-of-type(3){
  margin-right:0;
}

.con li img{
  width:120px; height:120px;
  margin:20px 100px;

}

.con li p{
  width:250px;
  margin:0 auto;
  padding:30px;
  border-top:1px solid #e8e8e8;
  color:#000;
  text-align: center;
  font-size:14px;
  line-height:20px;
}
.con li:nth-of-type(2) p{
  padding-top:50px;
  line-height:24px;
}
.con li:nth-of-type(2) p>strong{
  font-weight:700;
  font-size:16px;
  letter-spacing: 4px;

}
.con li p>span{
  font-size:12px;
  line-height:50px;
}



footer{
  clear:both;
  width:1300px;
  text-align:center;
  margin:280px auto 0 auto;
  font-size:12px;
  letter-spacing:.5px;
  color:#4c4c4c;
}