html,body{margin:0; padding:0; list-style-type: unset; border:none;}
ul,li{display:block; margin:0; padding:0; list-style-type:unset; text-align:left;}
.wrapper{width:500px; height:1000px; margin:0 auto; text-align:center;}
header{padding:20px; text-align:center; font-weight:bold; font-size:24px;}
#addValue{display:block; margin:20px auto; width:400px; height:30px;}
#btn{width:100px; height:30px; line-height:25px; border:none; background-color:lightgray;}
.todopad{width:400px;margin:0 auto;}
.portfolio06{font-size: 50px;text-align: center;display: block; line-height: 270px; color:black;}
